<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webmyne.paylabas_user" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    //GCM
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.webmyne.paylabas_user.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.webmyne.paylabas_user.permission.C2D_MESSAGE" />
    <application
        android:name="com.webmyne.paylabas.userapp.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.webmyne.paylabas.userapp.base.MyDrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name="com.webmyne.paylabas.userapp.registration.BaseRegistrationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.webmyne.paylabas.userapp.base.AddRecipientActivity"
            android:label="AddRecipient"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.webmyne.paylabas.userapp.base.ConfirmRecipientActivity"
            android:label="ConfirmRecipientActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.webmyne.paylabas.userapp.registration.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.webmyne.paylabas.userapp.registration.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.webmyne.paylabas.userapp.registration.ConfirmationActivity"
            android:label="@string/title_activity_confirmation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.webmyne.paylabas.userapp.money_transfer.MoneyTransferFinalActivity"
            android:label="@string/title_activity_moneytransfer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.webmyne.paylabas.userapp.money_transfer.MoneyTransferRecipientActivity"
            android:label="@string/title_activity_moneytransfer_recipient"
            android:screenOrientation="portrait" >
        </activity>

        <!--
        <activity
            android:name=""
            android:label="@string/title_activity_setting"
            android:parentActivityName="com.webmyne.paylabas.userapp.base.MyDrawerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webmyne.paylabas.userapp.base.MyDrawerActivity" />
        </activity>
        -->
        <activity
            android:name="com.webmyne.paylabas.userapp.registration.EnterPinActivity"
            android:label="@string/title_activity_enter_pin" >
        </activity>

        <receiver
            android:name="com.webmyne.paylabas.userapp.GCM.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.webmyne.rightway" />
            </intent-filter>
        </receiver>

        <service android:name="com.webmyne.paylabas.userapp.GCM.GcmMessageHandler" />


    </application>

</manifest>
